
.form-container{
  margin-top: 70px;
  background-color: lightgrey;
  width: 30%;

}

.form-container h3{
  padding:10px;

}
.submit-button{
  padding:10px;
}
.submit-button button{
  padding:8px;
}
.submit-button button:hover{
  background-color: #8bb4bb;
  color:white
}

.bottom{
  padding:10px;
}
