
.form-container{
  margin-top: 70px;
  background-color: white;
  color:#8bb4bb;
  max-width: 500px;
}

.form-container h3{
  padding:10px;

}
.form-container input{
  background-color: lightgrey;

}

.submit-button{
  padding:10px;
}
.submit-button button{
  padding:8px;
}
.submit-button button:hover{
  background-color: #8bb4bb;
  color:white
}

.bottom{
  padding:10px;
}
